.wrapper {
    display: flex;
    position: relative;
    top: 130px;
    height: 480px;
    flex-direction: column;
    width: 480px;
    align-items: center;
    border: 1px solid #ccc;
    margin: auto;
    background-color: rgba(231, 231, 231, 0.924);

    h2 {
        margin: 20px 0 30px 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 6px;

        label {
            font-size: 17px;
            padding-top: 18px;
            padding-left: 4px;
            color: #333;
        }

        input {
            height: 40px;
            border: 1px solid #ccc;
        }

        input::placeholder {
            padding-left: 8px;
            font-size: 15px;
            padding-right: 10px;
        }

        textarea::placeholder {
            padding-left: 8px;
            padding-top: 8px;
            height: 40px;
        }

        textarea {
            height: 100px;
            resize: vertical;
            font-size: 15px;
        }

        .wrapper-btn {
            min-width: 100px;
            padding: 20px 16px;
            margin: auto;
            margin-top: 16px;
            .btn {
                padding: 6px 22px;
                border-radius: 4px;
                font-size: 1.6rem;
                font-weight: 600;
                background-color: white;
                color: #333;
                border: 1px solid rgb(103, 100, 100);

                &:hover {
                    background-color: #ccc;
                }
            }
        }
    }
}

// responsive

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .wrapper {
        width: 400px;
        top: 500px;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .wrapper {
        top: 500px;
    }
}
/* Mobile */

@media (min-width: 375px) and (max-width: 739px) {
    .wrapper {
        top: 750px;
    }
}
